# Configuración de variables de entorno para SpeedrunWebhook

# Copia este archivo a .env y rellena tus valores.
# El archivo .env NO debe ser subido a Git.

# La URL completa del Webhook de tu canal de Discord.
DISCORD_WEBHOOK_URL="URL_DEL_WEBHOOK_AQUI"

# El nombre de usuario exacto de Speedrun.com que quieres consultar.
SPEEDRUN_USERNAME="NOMBRE_DE_USUARIO_AQUI"
